<h1>Select a game to play!</h1>
<div class="row">
  <% @games.each do |game| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag(game.game_image, width: 100), game %>
        <div class="caption">
          <h3><%= link_to game.game_name, game %></h3>
          <p><%= game.game_desc %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>